<ion-header>
  <ion-navbar color="primary">
    <ion-title text-wrap>
      <ion-label text-wrap>Cadastre-se</ion-label>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label floating>Email: </ion-label>
        <ion-input type="email" formControlName="email" [(ngModel)]="usuario.login_usuario">
        </ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.email">
          <p>Informe um email válido.</p>
        </div>
        <div *ngIf="email.errors.maxlength">
          <p>Informe um email que possua no máximo 30 caracteres</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Nome: </ion-label>
        <ion-input type="text" formControlName="nome" [(ngModel)]="usuario.nome"></ion-input>
      </ion-item>
      <div *ngIf="nome.invalid && (texto.dirty || nome.touched)">
        <div *ngIf="nome.errors.required">
          <p>Nome é obrigatório.</p>
        </div>
        <div *ngIf="nome.errors.maxlength">
          <p>Nome ultrapassa o limite permitido.</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Senha: </ion-label>
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="senha" [(ngModel)]="usuario.senha">
        </ion-input>
      </ion-item>
      <button style="background: none; margin-left: 10px;float: right;" (click)="togglePasswordFieldType()">
        <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'"></ion-icon>
      </button>
      <div *ngIf="senha.invalid && (senha.dirty || senha.touched)">
        <div *ngIf="senha.errors.required">
          <p>Informação é obrigatória</p>
        </div>
        <div *ngIf="senha.errors.minlength">
          <p>Senha deve ser maior que 5 caracteres</p>
        </div>
        <div *ngIf="senha.errors.maxlength">
          <p>Senha deve possuir até 30 caracteres</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Confirma Senha: </ion-label>
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" formControlName="confirma_senha"
          [(ngModel)]="usuario.confirma_senha"></ion-input>
      </ion-item>
      <button style="background: none; margin-left: 10px; float: right;" (click)="togglePasswordFieldType()">
        <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'"></ion-icon>
      </button>
      <div class="form-text error" *ngIf="
          senha.valid &&
          form.hasError('validarSenhas') &&
          (confirma_senha.dirty || confirma_senha.touched)
        ">
        <p>Senha e confirma senha devem ser iguais</p>
      </div>

      <ion-item>
        <ion-label floating>CPF: </ion-label>
        <ion-input type="text" formControlName="cpf" [(ngModel)]="usuario.cpf" [brmasker]="{ len: 11, type: 'num' }">
        </ion-input>
      </ion-item>
      <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
        <div *ngIf="cpf.errors.required">
          <p>Informação é obrigatória</p>
        </div>
        <div *ngIf="cpf.errors.maxlength">
          <p>Informe um CPF válido</p>
        </div>
        <div *ngIf="cpf.errors.minlength">
          <p>CPF deve possuir 11 caracteres</p>
        </div>
      </div>

      <ion-item>
        <ion-label stacked>Faixa Salarial: </ion-label>
        <ion-select formControlName="opcao" [(ngModel)]="usuario.faixa_salarial">
          <ion-option value=""> - Escolha - </ion-option>>
          <ion-option value="1">0 - 1000</ion-option>>
          <ion-option value="2">1000 - 3000</ion-option>
          <ion-option value="3">3000 - 7000</ion-option>
          <ion-option value="4">7000 - 10000</ion-option>
          <ion-option value="5">10000 ou mais</ion-option>
        </ion-select>
      </ion-item>
      <div *ngIf="opcao.invalid && (opcao.dirty || opcao.touched)">
        <div *ngIf="opcao.errors.required">
          <p>Opção é obrigatória</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Data Nascimento: </ion-label>
        <!-- <ion-datetime
          displayFormat="DD/MMM/YYYY"
          displayFormat="DD MMM YY"
          formControlName="texto"
          value=""
          [(ngModel)]="usuario.data_nascimento"
        ></ion-datetime>-->
        <ion-datetime formControlName="texto" [dayShortNames]="customDayShortNames" displayFormat="DD MMM YY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
          [(ngModel)]="usuario.data_nascimento"></ion-datetime>
      </ion-item>
      <div *ngIf="texto.invalid && (texto.dirty || texto.touched)" color="danger">
        <div *ngIf="texto.errors.required">
          <p>Informação é obrigatória</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>CEP: </ion-label>
        <ion-input type="text" formControlName="cep" (ionBlur)="buscaCep()" [(ngModel)]="usuario.cep"></ion-input>
      </ion-item>
      <div *ngIf="cep.invalid && (cep.dirty || cep.touched)">
        <div *ngIf="cep.errors.required">
          <p>Preenchimento do CEP é obrigatória</p>
        </div>
        <div *ngIf="cep.errors.maxlength">
          <p>Informe um CEP válido</p>
        </div>
        <div *ngIf="cep.errors.minlength">
          <p>CEP deve possuir 8 caracteres</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Rua: </ion-label>
        <ion-input [disabled]="true" type="text" formControlName="rua" [(ngModel)]="usuario.rua"></ion-input>
      </ion-item>
      <div *ngIf="rua.invalid && (rua.dirty || rua.touched)">
        <div *ngIf="rua.errors.required">
          <p>Preenchimento da rua é obrigatório</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Complemento: </ion-label>
        <ion-input type="text" formControlName="complemento" [(ngModel)]="usuario.complemento"></ion-input>
      </ion-item>
      <div *ngIf="
          complemento.invalid && (complemento.dirty || complemento.touched)
        ">
        <div *ngIf="complemento.errors.required">
          <p>Preenchimento do Complemento é obrigatório</p>
        </div>
        <div *ngIf="complemento.errors.maxlength">
          <p>Informação sobre complemento ultrapassa o limite permitido</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Bairro: </ion-label>
        <ion-input [disabled]="true" type="text" formControlName="bairro" [(ngModel)]="usuario.bairro"></ion-input>
      </ion-item>
      <div *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)">
        <div *ngIf="bairro.errors.required">
          <p>Preenchimento do bairro é obrigatório</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Cidade: </ion-label>
        <ion-input [disabled]="true" type="text" formControlName="cidade" [(ngModel)]="usuario.cidade"></ion-input>
      </ion-item>
      <div *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)">
        <div *ngIf="cidade.errors.required">
          <p>Preenchimento da cidade é obrigatória</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Estado: </ion-label>
        <ion-input [disabled]="true" type="text" formControlName="estado" [(ngModel)]="usuario.estado"></ion-input>
      </ion-item>
      <div *ngIf="estado.invalid && (estado.dirty || estado.touched)">
        <div *ngIf="estado.errors.required">
          <p>Preenchimento do Estado é obrigatório</p>
        </div>
      </div>
    </ion-list>
  </form>
  <button ion-button full [disabled]="!form.valid" class="botao" (click)="salvarUsuario()" class="botao">
    Confirmar Cadastro
  </button>
</ion-content>
