page-usuario {
  .botao {
    border-radius: 10px !important;
  }

  .circle {
    width: 30%;
    border-radius: 100%;
    margin: 25px auto 0 auto;
  }

  .login_usuario {
    color: white;
  }

  #icone {
    color: yellow;
  }

  ion-item {
    padding: 5px !important;
    margin-bottom: 10px;
    color: #488aff;
    background-color: #488aff;
    opacity: 1;
    font-size: 0.9em;
  }
}
