page-historico-pedidos {
    
    .ion-row .col {
        background-color:lightgrey;
    }
    
    .col {
        border: solid 1px grey;
        border-bottom-style: solid;
        border-right-style: none;
    }
    
    .col:last-child {
        border-right: solid 1px grey;
    }
    
    .ion-row:last-child .col {
        border-bottom: solid 1px grey;
    }
}
