<ion-header>
  <ion-navbar color="primary">
    <ion-title style="text-align: center">Resgatar Pontos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-label floating>Banco: </ion-label>
      <ion-select [(ngModel)]="usuario.banco">
        <ion-option> Caixa Econômica</ion-option>
        <ion-option > Santander</ion-option>
        <ion-option > Banco do Brasil</ion-option>
        <ion-option > Bradesco</ion-option>
        <ion-option > Itaú</ion-option>
        <ion-option > Nu Pagamentos S.A.</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Tipo da conta: </ion-label>
      <ion-select [(ngModel)]="usuario.tipo_conta">
        <ion-option value="CC"> Conta Corrente</ion-option>
        <ion-option value="CP"> Conta Poupança</ion-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-item col-4>
        <ion-label floating>N° Agência: </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.agencia"></ion-input>
      </ion-item>
      <ion-item col-8>
        <ion-label floating>N° Conta: </ion-label>
        <ion-input type="text" [(ngModel)]="usuario.conta"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item col-5>
        <ion-label stacked>Escolher:</ion-label>
        <ion-select  [ngClass]="getValorRetirada()" [(ngModel)]="usuario.valor">
          <ion-option *ngIf="valorPt == 1"  value="10"> 500 PT por 10,00$</ion-option>
          <ion-option *ngIf="valorPt == 1 && valorDuplo == 1"   value="20"> 1000 PT por 20,00$</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>


    <button class="botao" ion-button full (click)="resgatarPontos()">
      Enviar Solicitação
    </button>
  </ion-grid>
</ion-content>