page-editar {
  .botao {
    border-radius: 30px !important;
  }

  ion-item {
    color: #488aff;
    background-color: #488aff;
    opacity: 1;
    font-size: 0.9em;
  }

  p {
    color: red;
    margin-left: 15px;
    display: inline;
  }
}
