<ion-header>
  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome: </ion-label>
        <ion-input
          type="text"
          formControlName="nome"
          [(ngModel)]="usuario.nome"
        ></ion-input>
      </ion-item>
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <div *ngIf="nome.errors.required">
          <p>Nome é obrigatório.</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>CPF: </ion-label>
        <ion-input
          type="text"
          formControlName="cpf"
          [(ngModel)]="usuario.cpf"
        ></ion-input>
      </ion-item>
      <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
        <div *ngIf="cpf.errors.required">
          <p>Informação é obrigatória</p>
        </div>
        <div *ngIf="cpf.errors.maxlength">
          <p>Informe um CPF válido</p>
        </div>
        <div *ngIf="cpf.errors.minlength">
          <p>CPF deve possuir 11 caracteres</p>
        </div>
      </div>

      <ion-item>
        <ion-label stacked>Faixa Salarial: </ion-label>
        <ion-select
          formControlName="faixa_salarial"
          [(ngModel)]="usuario.faixa_salarial"
        >
          <ion-option value=""> - Escolha - </ion-option>>
          <ion-option value="1">0 - 1000</ion-option>>
          <ion-option value="2">1000 - 3000</ion-option>
          <ion-option value="3">3000 - 7000</ion-option>
          <ion-option value="4">7000 - 10000</ion-option>
          <ion-option value="5">10000 ou mais</ion-option>
        </ion-select>
      </ion-item>
      <div
        *ngIf="
          faixa_salarial.invalid &&
          (faixa_salarial.dirty || faixa_salarial.touched)
        "
      >
        <div *ngIf="faixa_salarial.errors.required">
          <p>Faixa salárial é obrigatória</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Data Nascimento: </ion-label>
        <!--<ion-datetime
          displayFormat="YYYY-MM-DD"
          formControlName="data_nascimento"
          [(ngModel)]="usuario.data_nascimento"
        ></ion-datetime>-->
        <ion-datetime
          formControlName="data_nascimento"
          [dayShortNames]="customDayShortNames"
          displayFormat="DD MMM YY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
          [(ngModel)]="usuario.data_nascimento"
        ></ion-datetime>
      </ion-item>
      <div
        *ngIf="
          data_nascimento.invalid &&
          (data_nascimento.dirty || data_nascimento.touched)
        "
        color="danger"
      >
        <div *ngIf="data_nascimento.errors.required">
          <p>Data de nascimento é obrigatória</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>CEP: </ion-label>
        <ion-input
          (ionBlur)="buscaCep()"
          type="text"
          formControlName="cep"
          [(ngModel)]="usuario.endereco.cep"
        >
        </ion-input>
      </ion-item>
      <div *ngIf="cep.invalid && (cep.dirty || cep.touched)">
        <div *ngIf="cep.errors.required">
          <p>Preenchimento do CEP é obrigatória</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Rua: </ion-label>
        <ion-input
          [disabled]="true"
          type="text"
          formControlName="rua"
          [(ngModel)]="usuario.endereco.rua"
        ></ion-input>
      </ion-item>
      <div *ngIf="rua.invalid && (rua.dirty || rua.touched)">
        <div *ngIf="rua.errors.required">
          <p>Preenchimento da rua é obrigatório</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Complemento: </ion-label>
        <ion-input
          type="text"
          formControlName="complemento"
          [(ngModel)]="usuario.endereco.complemento"
        ></ion-input>
      </ion-item>
      <div
        *ngIf="
          complemento.invalid && (complemento.dirty || complemento.touched)
        "
      >
        <div *ngIf="complemento.errors.required">
          <p>Preenchimento do Complemento é obrigatório</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Bairro: </ion-label>
        <ion-input
          [disabled]="true"
          type="text"
          formControlName="bairro"
          [(ngModel)]="usuario.endereco.bairro"
        >
        </ion-input>
      </ion-item>
      <div *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)">
        <div *ngIf="bairro.errors.required">
          <p>Preenchimento do bairro é obrigatório</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Cidade: </ion-label>
        <ion-input
          [disabled]="true"
          type="text"
          formControlName="cidade"
          [(ngModel)]="usuario.endereco.cidade"
        >
        </ion-input>
      </ion-item>
      <div *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)">
        <div *ngIf="cidade.errors.required">
          <p>Preenchimento da cidade é obrigatória</p>
        </div>
      </div>

      <ion-item>
        <ion-label floating>Estado: </ion-label>
        <ion-input
          [disabled]="true"
          type="text"
          formControlName="estado"
          [(ngModel)]="usuario.endereco.estado"
        >
        </ion-input>
      </ion-item>
      <div *ngIf="estado.invalid && (estado.dirty || estado.touched)">
        <div *ngIf="estado.errors.required">
          <p>Preenchimento do Estado é obrigatório</p>
        </div>
      </div>
    </ion-list>
  </form>
  <button
    ion-button
    full
    [disabled]="!form.valid"
    class="botao"
    (click)="editarUsuario()"
  >
    Atualizar Cadastro
  </button>
</ion-content>
